@import "../../../styles/variables";

.logs {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  &__title {
    color: $color-primary;
    margin: $sp-md 0 $sp-sm 0;
    text-transform: uppercase;
  }

  &__bottom {
    height: $sp-sm;
  }
}
