@mixin underline($color) {
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: $color;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  &:hover::before {
    transform: scaleX(1);
  }
}

@mixin drop-animation {
  animation: drop 1.5s ease;

  @keyframes drop {
    0% {
      opacity: 0;
      transform: translateY(-40px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}

@mixin expand-animation {
  animation: expand 1.5s ease;

  @keyframes expand {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}

@mixin elevate-animation {
  animation: elevate 1.5s ease;

  @keyframes elevate {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}

@mixin left-to-right-animation {
  animation: left-to-right 1.5s ease;

  @keyframes left-to-right {
    0% {
      opacity: 0;
      transform: translateX(-40px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

@mixin right-to-left-animation {
  animation: right-to-left 1.5s ease;

  @keyframes right-to-left {
    0% {
      opacity: 0;
      transform: translateX(40px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}
